name: MacOS
on: [push, pull_request,repository_dispatch]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash

jobs:
  macos:
    name: MacOS Release (${{ matrix.osx_build_arch }})
    runs-on: macos-latest
    strategy:
      matrix:
        # Add commits/tags to build against other DuckDB versions
        duckdb_version: [ '<submodule_version>' ]
        vcpkg_version: [ '2023.10.19' ]
        vcpkg_triplet: [ 'x64-osx' ]
        include:
          - vcpkg_triplet: 'x64-osx'
            osx_build_arch: 'x86_64'
            duckdb_arch: 'osx_amd64'

    env:
      VCPKG_TARGET_TRIPLET: ${{ matrix.vcpkg_triplet }}
      OSX_BUILD_ARCH: ${{ matrix.osx_build_arch }}
      GEN: Ninja
      VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Install
        run: |
          brew install ninja
          brew install autoconf
          brew install automake
          brew install autoconf-archive
          brew install libevent
          brew install jemalloc
          brew install mysql
          brew services start mysql
          touch build.ninja

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@main
        with:
          key: ${{ github.job }}-${{ matrix.duckdb_version }}
          save: ${{ github.ref == 'refs/heads/main' || github.repository != 'duckdb/duckdb' }}

      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: a42af01b72c28a8e1d7b48107b33e4f286a55ef6

      - name: Setup MySQL
        if: ${{ matrix.osx_build_arch == 'x86_64'}}
        run: |
          mysql -u root < test/test_data.sql
          mysql -u root -e "SELECT 42"

      - name: Build extension
        shell: bash
        run: |
          # needed for MySQL cross compilation - see https://mariadb.com/kb/en/cross-compiling-mariadb/
          echo 'SET(STACK_DIRECTION -1)' >> ${VCPKG_TOOLCHAIN_PATH}
          echo 'SET(HAVE_IB_GCC_ATOMIC_BUILTINS 0)' >> ${VCPKG_TOOLCHAIN_PATH}
          make release

      - name: Test Extension
        if: ${{ matrix.osx_build_arch == 'x86_64'}}
        shell: bash
        env:
          MYSQL_TEST_DATABASE_AVAILABLE: 1
        run: |
          make test

      - uses: actions/upload-artifact@v2
        with:
          name: osx-${{ matrix.osx_build_arch }}-extension
          path: |
            build/release/extension/mysql_scanner/mysql_scanner.duckdb_extension

      - name: Log Errors
        if: failure()
        shell: bash
        run: |
          cat /Users/runner/work/duckdb_mysql/duckdb_mysql/vcpkg/buildtrees/libmysql/*.log
          cat /Users/runner/work/duckdb_mysql/duckdb_mysql/build/release/*.log
